
.player-cards {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.img-w {
    position: relative;
    transform-origin: 50% 50%;
    height: 80%;
    aspect-ratio: 57 / 79;
}

.card0 {
    transform: rotateZ(-8deg);
    translate: 7px 0px;
}

.card1 {
    transform: rotateZ(4deg); /* randomize with js */
    transform-origin: 50% 50%;
}

.img {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 57 / 79;
    object-fit: cover;
    image-rendering: pixelated;
    z-index: 2;
}

.shadow {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    aspect-ratio: 57 / 79;
    box-shadow: 0px 0px 10px 2px #00000037;
    border-radius: 12%;
    z-index: 1;
}