.chips {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: 100%;
}

.chips-c {
    position: relative;
    width: 100%;
    height: 100%;
    top: -5%;
    left: 0%;
}

.chip-stack {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column-reverse;
}

.chip {
    height: 20%;
    aspect-ratio: 28 / 23;
    image-rendering: pixelated;
}

.c-0 {
    z-index: 0;
    transform: translateY(0px);
}
.c-1 {
    z-index: 1;
    transform: translateY(80%);
}
.c-2 {
    z-index: 2;
    transform: translateY(160%);
}
.c-3 {
    z-index: 3;
    transform: translateY(240%);
}
.c-4 {
    z-index: 4;
    transform: translateY(320%);
}

.s-0 {
    position: absolute;
    top: 0;
    left: 0;
}

.s-1 {
    position: absolute;
    top: 0;
    left: -20%;
}

.s-2 {
    position: absolute;
    top: 0;
    left: 20%;
}

.s-3 {
    position: absolute;
    top: -25%;
    left: -10%;
}

.s-4 {
    position: absolute;
    top: -25%;
    left: 10%;
}

.s-5 {
    position: absolute;
    top: -25%;
    left: -30%;
}

.s-6 {
    position: absolute;
    top: -25%;
    left: 30%;
}

.s-7 {
    position: absolute;
    top: -50%;
    left: 0;
}

.s-8 {
    position: absolute;
    top: -50%;
    left: -20%;
}

.s-9 {
    position: absolute;
    top: -50%;
    left: 20%;
}

.s-10 {
    position: absolute;
    top: 0;
    left: 40%;
}

.s-11 {
    position: absolute;
    top: 0;
    left: -40%;
}

.s-12 {
    position: absolute;
    top: -25%;
    left: 50%;
}

.s-13 {
    position: absolute;
    top: -25%;
    left: -50%;
}

.s-14 {
    position: absolute;
    top: -50%;
    left: -40%;
}

.s-15 {
    position: absolute;
    top: -50%;
    left: 40%;
}
